# Prerequisites
*.d

# Compiled Object files
*.lastbuildstate
*.slo
*.lo
*.o
*.obj
*.suo
*.db
*.opendb
*.db-shm
*.db-wal
*.ipch
*.tlog
*.log
*.exp
*.idb
*.user

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pdb

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
