*.d
*.lastbuildstate
*.slo
*.lo
*.o
*.obj
*.suo
*.db
*.opendb
*.db-shm
*.db-wal
*.ipch
*.tlog
*.log
*.exp
*.idb
*.user
*.gch
*.pch
*.so
*.dylib
*.dll
*.pdb
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
